
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  sans-serif;
  line-height: 1.6;
  background: #fafafa;
  color: #222;
  padding: 0 1rem;
  background-image: url("https://images.unsplash.com/photo-1610116306796-6fea9f4fae38?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;        
  background-position: center;   
  background-attachment: fixed; 
}

main {
  max-width: 800px;
  margin: 2rem auto;
}

h1, h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}


header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
  background: rgba(255, 255, 255, 0.537); 
  
}

header h1 a {
  text-decoration: none;
  color: #222;
}


header form {
  display: flex;
  gap: 0.5rem;
}

header input {
  flex: 1;
  padding: 0.6rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

header button {
  padding: 0.6rem 1rem;
  border: 1px solid #ccc;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

header button:hover {
  background: #efefef;
}

header ul {
  display: flex;
  overflow-x: auto;
  gap: 0.7rem;
  padding-bottom: 0.5rem;
}

header li {
  list-style: none;
  padding: 0.4rem 0.8rem;
  border: 1px solid #ddd;
  border-radius: 20px;
  transition: 0.2s;
}

header li:hover {
  background: #eee;
}


ul {
  list-style: none;
  display: grid;
  gap: 0.8rem;
  margin-top: 1rem;
}

li {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

li button {
  padding: 0.3rem 0.6rem;
  background: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

li button:hover {
  background: #f0f0f0;
}


li button:last-child {
  border: none;
  font-size: 1.2rem;
}


img {
  margin: 1rem 0;
  border-radius: 8px;
}

p {
  margin: 0.5rem 0;
}


@media (min-width: 700px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  header ul {
    flex-wrap: wrap;
    overflow: visible;
  }
}

